{% block simplemde_editor_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block simplemde_editor_widget %}
    {{ block('textarea_widget') }}
    <script type="text/javascript">
        $('document').ready(function() {
            var element = $("#{{ id }}")[0];
            var config = {{ form.vars.editor_config|raw}};
            var simplemde_test = new SimpleMDE(Object.assign(config, {'element': element}));
        });
    </script>
{% endblock %}
